<div fxLayoutAlign = "center center" style="min-height: 60%">
  <mat-card fxFlex ="25">
    <form
      *ngIf="isAuthenticated"
      [formGroup]="roomForm"
      #formDirective="ngForm"
      (ngSubmit)="onSubmit(roomForm.value)"
      novalidate
      fxLayoutAlign="stretch" fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Topic" formControlName="topic">
      </mat-form-field>
      <mat-radio-group formControlName="timeO">
        <mat-radio-button value="10 Minutes">10 Minutes</mat-radio-button>
        <mat-radio-button checked value="20 Minutes">20 Minutes</mat-radio-button>
      </mat-radio-group>
      <mat-form-field>
        <input matInput placeholder="Your Stance" formControlName="stance">
      </mat-form-field>
      <button mat-raised-button type="submit">Create</button>
    </form>
  </mat-card>
</div>

