header{
  background: #404040;
  padding: 0;
  border-bottom: 2px solid #000000;
}

a{
  color: #FFCC99;
}

a:hover{
  background: #4E4E4E;
}

.container{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

a.logo{
  font-weight: bold;
  padding: 1em;
}

nav ul{
  list-style-type: none;
  margin: 0;
}

nav ul li a{
  padding: 1em;
  display: inline-block;
}
